
    #page-container {position: relative; min-height:100%; height: auto !important; height: 100%; padding-bottom: 100px;}
    #main-footer {position: absolute; bottom: 0; width: 100%; height: 100px; background: url('/static/footer_bg.jpg');}

    #container_post {width:100%; height: 190px; margin-bottom: 2%;}
    #left_post {float: left; width: 160px; margin-left: 1%; margin-top: 0.1%;}
    #center_post {margin: 0 auto; width: 80%; margin-top: 1%; margin-left: 155px;}
    #right_post {float: right;  width: 150px; margin-top: -100px;}

    #container_comment {width: 100%; height: 190px;}
    #left_comment {float: left; width: 130px; height: 130px; margin-left: 1%; margin-top: -0.2%;}
    #center_comment {margin: 0 auto; width: 80%; margin-top: 1%; margin-left: 155px;}
    #right_comment {float: right; width: 170px; margin-top: -100px;}

    #container_post_comment {width:100%;}
    #left_post_comment {float: left; width: 20px; margin-left: 5px; margin-top: 5px; }
    #right_post_comment {margin: 0 auto; width: 80%; margin-top: 1.27%; margin-left: 100px; margin-right: 50px;}

    #like_container {width: 100%;}
    #like_button {float: left; width: 40%; margin-bottom: 1.2rem;}
    #like_count {float: right; width: 60%; margin-left: -40px; margin-top: 0.73rem;}

    #dislike_container {width: 100%;}
    #dislike_button {float: left; width: 40%; margin-bottom: 1.2rem;}
    #dislike_count {float: right; width: 60%; margin-left: -40px; margin-top: 0.73rem;}

    .delete_button {
    margin-top: 2.1rem;
    }

    .avatar {
    border: 1px solid #000;
    border-radius: 15px;
    }

    .roboavatar {
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    background-color: white;
    }

    .navbar_bordered {
    border: 3px solid transparent;
    /* border-image: url('/static/border6.png') 30 round; */
    border-color: #3D3333;
    margin-bottom: 1rem;
    }

    .post_with_background {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('/static/border1.png') 30 round;
    font-family: 'Lobster Two', cursive;
    font-size: 1.1rem;
    }

    .post {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('/static/border2.png') 15 round;
    margin-bottom: 2%;
    }

    .comment_with_background_image {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('/static/border1.png') 30 stretch;
    }

    .comment_with_border {
    height: 225px;
    border: 2px solid #3F3E3E;
    padding: 15px;
    padding-bottom: 30px;

    margin-bottom: 5px;
    }

    .message {
    font-family: 'Comic Sans MS', cursive;
    font-size: 1.2rem;
    }

    .name_link {
    color: black !important;
    font-family: 'Comic Sans MS', cursive;
    font-size: 1.2rem;
    display: inline-block;
    }

    /* essentially the same button but slightly different in each entry */

    .yes_no_button {
    text-decoration: none !important;
    font-family: 'Comic Sans MS', cursive;
    font-size: 1.2rem;
    display: inline-block;
    color: white;
    }

    .username_in_post {
    text-decoration: none !important;
    font-family: 'Comic Sans MS', cursive;
    font-size: 1.2rem;
    display: inline-block;
    color: white;
    }

    .link_button {
    text-decoration: none !important;
    font-family: 'Comic Sans MS', cursive;
    font-size: 1rem;
    display: inline-block;
    color: white;
    }

    /* same button ends here */

    .button {
    outline: none !important;
    display: inline-block;
    padding: 10px 15px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #3B3B3B !important;
    background-color: white;
    border: solid;
    border-color: #303030;
    border-width: 1px;
    border-radius: 15px;
    box-shadow: 0 9px #303030;
    }

    .button:hover {
    background-color: white
    }

    .button:active {
    background-color: #C4C8CE;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }

    .dropdown-item:active {
        color: #fff;
        background-color: #303030;
    }

