<div class="comment_with_border">
    <div id="container-comment">
        <!-- Avatar -->
        <div id="left_comment">
            <a href="{{ url_for('user', username=comment.commenter.username) }}">
                {% if comment.commenter.avatar_set %}
                    <img class="avatar" height="80px" width="80px" src="{{ url_for('static', filename=comment.commenter.username + '.jpg') }}">
                {% else %}
                    <img class="roboavatar" src="{{ avatars.robohash(comment.commenter.username, size='80') }}" />
                {% endif %}
            </a>
        </div>

        <!-- Comment body -->
        <div id="center_comment">
            <p><a href="{{ url_for('user', username=comment.commenter.username) }}">
                {{ comment.commenter.username }}
            </a><b>commented: </b></p>
            <p>{{ comment.body }}</p>
        </div>

        <!-- Timestamp and like button -->
        <div id="right_comment">
            <p><b>..at</b> {{comment.timestamp.replace(microsecond=0)}}</p>
            {% if current_user.liked_comment(comment) %}
                <div id="like_container">
                    <div id="like_button"><a href="{{ url_for('comment_like_action', comment_id=comment.id, action='dislike') }}"><div class="button">&#128078</div></a></div>
                    <div id="like_count"><p>{{ post.likes.count() }}</p></div>
                </div>
            {% else %}
                <div id="dislike_container">
                    <div id="dislike_button"><a href="{{ url_for('comment_like_action', comment_id=comment.id, action='like') }}"><div class="button">&#128077</div></a></div>
                    <div id="dislike_count"><p>{{ post.likes.count() }}</p></div>
                </div>
            {% endif %}
            <div class="delete_button">
                {% if current_user.username == post.author.username %}
                    <a href="{{url_for('are_you_sure_comment', comment_id=comment.id)}}">Delete Comment</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
