{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}

<table class="table table-bordered" style="border-left: 5px solid; border-color: blue;">
    <tr>
        <td width="50px" style="background-color: #DEE1E1; border-right: 1px solid grey;">
            <a href="{{ url_for('user', username=message.author.username) }}">
                {% if message.author.avatar_set %}
                    <img height="45px" width="45px" src="{{ url_for('static', filename=message.author.username + '.jpg') }}">
                {% else %}
                    <img style="border-style: solid; border-radius: 10%; border-color: black; border-width: 1px; background-color: white;" src="{{ avatars.robohash(message.author.username, size='45') }}" />
                {% endif %}
            </a>
        </td>
        <td width="10%">{{message.author.username}} {{message.timestamp.replace(microsecond=0)}}</td>
        <td>{{message.body}}</td>
    </tr>

</table>

{% endblock %}