<table class="table table-bordered">
    <tr style="border: solid; border-color: #1B1C1C; border-width: 2px;">
        <td width="70x">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img style="border-style: solid; border-radius: 10%; border-color: black; border-width: 1px;" src="{{ avatars.robohash(post.author.username, size='80') }}" />
            </a>
        </td>
        <td>
            <p><a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>said: </p> <p style="margin-left: 90%; margin-top: -2%;">..at {{post.timestamp.replace(microsecond=0)}}</p>
            <p style="width: 60%;" id="post{{ post.id }}">{{ post.body }}</p>
            <div class="button" style="margin-left: 95%; margin-top: -2%;">
            {% if current_user.liked_post(post) %}
                <a href="{{ url_for('like_action', post_id=post.id, action='dislike') }}">&#128078</a>
            {% else %}
                <a href="{{ url_for('like_action', post_id=post.id, action='like') }}">&#128077</a>
            {% endif %}
            </div>
            <p style="width: 11%;">{{ post.likes.count() }}&#128077</p>
        </td>
    </tr>
</table>
{% for comment in comments %}
    {% if comment in post.comments %}
        {% include "_comment.html" %}
    {% endif %}
{% endfor %}
<p style="margin-bottom: 4%; margin-top: 1%;"><a style="border: solid; border-radius: 4%; border-color: black; border-width: 1px; padding: 10px; margin-left: 10px; margin-top: 10%;" href="/comment/{{post.id}}"> Post Comment ▲</a></p>

