<div class="post_with_background" style="margin-bottom: 50px;">
    <div class="post">
        <div id="container_post">

            <!-- Avatar and username -->
            <div id="left_post">
                <div style="position: absolute">
                    <a href="{{ url_for('user', username=post.author.username) }}">
                        {% if post.author.avatar_set %}
                            <img class="avatar" height="150px" width="150px" src="{{ url_for('static', filename=post.author.username + '.jpg') }}">
                        {% else %}
                            <img class="roboavatar" src="{{ avatars.robohash(post.author.username, size='150') }}" />
                        {% endif %}
                    </a>
                </div>
                <div style="position: relative; margin-top: 160px;">
                    <a href="{{ url_for('user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                </div>
            </div>

            <!-- Post body -->
            <div id="center_post">
                <p>said: </p>
                <p id="post{{ post.id }}">{{ post.body }}</p>
            </div>

            <!-- Timestamp and like button -->
            <div id="right_post">
                <p>..at {{post.timestamp.replace(microsecond=0)}}</p>
                {% if current_user.liked_post(post) %}
                    <a href="{{ url_for('like_action', post_id=post.id, action='dislike') }}"><div class="button">&#128078</div></a>
                {% else %}
                    <a href="{{ url_for('like_action', post_id=post.id, action='like') }}"><div class="button">&#128077</div></a>
                {% endif %}
                <p style="width: 11%; margin-top: 20px;">{{ post.likes.count() }}&#128077</p>
            </div>
        </div>
    </div>


    <!-- Comments -->
    {% for comment in comments %}
        {% if comment in post.comments %}
            {% include "_comment.html" %}
        {% endif %}
    {% endfor %}


    <!-- New comment avatar and form-->
    <div id="container_post_comment">
        <div id="left_post_comment">
            {% if current_user.avatar_set %}
                <img class="avatar" height="70px" width="70px" src="{{ url_for('static', filename=current_user.username + '.jpg') }}">
            {% else %}
                <img class="roboavatar" src="{{ avatars.robohash(current_user.username, size='70') }}" />
            {% endif %}
        </div>
        <div class="comment_with_background">
            <div id="right_post_comment">
                <form action="{{ url_for('comment', post_id=post.id) }}" method="post" style="margin-bottom: 4%;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input style="width: 100%; margin-bottom: 1%;" type=text name=comment>
                <input type=submit value=Comment!>
                </form>
            </div>
        </div>
    </div>
</div>





