<table class="table table-bordered" style="border-left: 5px solid; border-color: #f08a5d;">
    <tr>
        <td width="70x" style="background-color: #E8E8E8; border-right: 1px solid #F79279;">
            <a href="{{ url_for('user', username=user.username) }}">
                {% if user.avatar_set %}
                    <img height="45px" width="45px" src="{{ url_for('static', filename=user.username + '.jpg') }}">
                {% else %}
                    <img style="border-style: solid; border-radius: 10%; border-color: black; border-width: 1px; background-color: white;" src="{{ avatars.robohash(user.username, size='45') }}" />
                {% endif %}
            </a>
        </td>
        <td style="width: 10%;">
            <a href="{{ url_for('user', username=user.username) }}">{{ user.username }}</a> <!-- url for user messages (to be) -->
        </td>
        <td>
            <a href="{{ url_for('private_messages', recipient=user.username) }}">View Messages</a>
        </td>
    </tr>
</table>
