{% extends "base.html" %}
{% block app_content %}
    <body style="background-color: #2E2F30;">
    <img src="/static/CarmenElectra/Carmen1.jpg">
    <img src="/static/CarmenElectra/Carmen2.jpg">
    <img src="/static/CarmenElectra/Carmen3.jpg">
    <img src="/static/CarmenElectra/Carmen4.jpg">
    <img src="/static/CarmenElectra/Carmen12.jpg">
    <img src="/static/CarmenElectra/Carmen8.jpg">
    <img src="/static/CarmenElectra/Carmen5.jpg">
    <img src="/static/CarmenElectra/Carmen6.jpg">
    <img src="/static/CarmenElectra/Carmen7.jpg">
    <img src="/static/CarmenElectra/Carmen9.jpg">
    <img src="/static/CarmenElectra/Carmen11.jpg">
    <img width="500px" height="600px" src="/static/CarmenElectra/Carmen10.jpg">
    </body>
{% endblock %}