{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}
    <h2>Edit Profile</h2>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, button_map={'submit':'btn btn-outline-dark'}) }}
        </div>
    </div>
    <div style="margin-top: 1%;">
        <a href="{{ url_for('upload_avatar') }}"><button class="btn btn-dark"><div class="link_button">Upload Avatar</div></button></a>
    <hr>
        <a href="{{ url_for('are_you_sure_user', username=current_user.username) }}"><button class="btn btn-dark"><div class="link_button">Delete Your Page</div></button></a>
    </div>
{% endblock %}