{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}
    <h2>Edit Profile</h2>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, button_map={'submit':'btn btn-outline-dark'}) }}
        </div>
    </div>
    <p style="margin-left: 0.2%; margin-top: 1%;"><a href="{{ url_for('upload_avatar') }}">Upload Avatar</a></p>
    <hr>
    <p style="margin-left: 0.2%; margin-top: 1%;"><a href="{{ url_for('are_you_sure_user', username=current_user.username) }}">Delete Your Page</a></p>
{% endblock %}