{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}
<div style="margin-top: 15px;">
    {% for message in messages %}
    {% include "_message.html" %}
    {% endfor %}
</div>

<div class="row" style="margin-bottom: 25px;">
    <div class="col-md-4">
        {{ wtf.quick_form(form, button_map={'submit':'btn btn-outline-dark'}) }}
    </div>
</div>

<button class="btn btn-dark"><a href="{{ url_for('messages') }}"><div class="link_button">Back to user list</div></a></button>

<hr>

<div style="margin-bottom: 2%; margin-left: -1rem; margin-top: 1%;">
    <nav aria-label="...">
        <ul>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    <button class="btn btn-dark">
                        <div class="link_button"><span aria-hidden="true">&rarr;</span> Older messages</div>
                    </button>
                </a>
            </li>
        </ul>
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <button class="btn btn-dark">
                        <div class="link_button"><span aria-hidden="true">&larr;</span> Newer messages</div>
                    </button>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}