{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}

    <h4>Search in Posts</h4>

    <form action="{{ url_for('search') }}" method="post" style="margin-bottom: 4%;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input style="width: 100%; margin-bottom: 1rem;" type=text name=request_field>
        <input type=submit value=Search name="Search">
    </form>

    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}

{% endblock %}