{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}
    <table style="margin-top: 1%; ">
        <tr valign="top" style="width: 100%;">
            <td>
                {% if user.avatar_set %}
                    <img style="border: 1px solid #000; border-radius: 10%;" height="400px" width="400px" src="/static/{{user.username}}.jpg">
                {% else %}
                    <img style="border-style: solid; border-radius: 10%; border-color: black; border-width: 1px; background-color: white;" src="{{ avatars.robohash(user.username, size='400') }}" />
                {% endif %}
            </td>
            <td>
                <h3 style="margin-left: 1%; color: #b83b5e;">{{ user.username }}</h3>
                {% if user.about_me %}

                    <p style="margin-left: 2%; width: 220%;">About me: {{ user.about_me }}</p>

                {% endif %}

                <p style="margin-left: 2%; width: 220%;">Followers: {{ user.followers.count() }} Following: {{ user.followed.count() }}</p>

                {% if user == current_user %}
                    <p style="margin-left: 2%;"></p>
                {% elif not current_user.is_following(user) %}
                    <p style="margin-left: 2%;"><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
                {% else %}
                    <p style="margin-left: 2%;"><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
                {% endif %}

                {% if user != current_user %}
                <p>
                    <a href="{{ url_for('private_messages',
                                        recipient=user.username) }}">
                        {{ 'Send private message' }}
                    </a>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>

<div style="margin-top: 2%;">
    {% if form %}
        {{ wtf.quick_form(form, button_map={'submit':'btn btn-outline-dark'}) }}
    {% endif %}
</div>

<div style="margin-top: 1%;">
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
    <nav aria-label="...">
        <ul>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    <span aria-hidden="true">&rarr;</span> Older posts
                </a>
            </li>
        </ul>
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
