{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}
    <table style="margin-top: 1%; ">
        <tr valign="top" style="width: 100%;">
            <td>
                {% if user.avatar_set %}
                    <img class="avatar" height="400px" width="400px" src="/static/{{user.username}}.jpg">
                {% else %}
                    <img class="roboavatar" src="{{ avatars.robohash(user.username, size='400') }}" />
                {% endif %}
            </td>
            <td>
                <div style="margin-left: 0.5rem; width: 220%;">
                    <h3>{{ user.username }}</h3>
                    {% if user.about_me %}

                        <p>About me: {{ user.about_me }}</p>

                    {% endif %}

                    <p style="margin-left: 0.2rem;">Followers: {{ user.followers.count() }} Following: {{ user.followed.count() }}</p>

                    {% if user == current_user %}
                        <p>This is your profile page!</p>
                    {% elif not current_user.is_following(user) %}
                    <a href="{{ url_for('follow', username=user.username) }}"><button class="btn btn-dark"><div class="link_button">Follow</div></button></a>
                    {% else %}
                    <a href="{{ url_for('unfollow', username=user.username) }}"><button class="btn btn-dark"><div class="link_button">Unfollow</div></button></a>
                    {% endif %}

                    {% if user != current_user %}
                    <a href="{{ url_for('private_messages', recipient=user.username) }}"><button class="btn btn-dark"><div class="link_button">
                        {{ 'Send private message' }}</div></button></a>
                </div>
                {% endif %}
            </td>
        </tr>
    </table>

    <div style="margin-top: 2%;">
        {% if form %}
            {{ wtf.quick_form(form, button_map={'submit':'btn btn-outline-dark'}) }}
        {% endif %}
    </div>

    <div style="margin-top: 1%;">
        {% for post in posts %}
            {% include "_post.html" %}
        {% endfor %}
        <div style="margin-bottom: 2%;">
            <nav aria-label="...">
                <ul>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            <span aria-hidden="true">&rarr;</span> Older posts
                        </a>
                    </li>
                </ul>
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> Newer posts
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
